<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <!-- Console Output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} [%t] %-5level %logger - %msg%n"/>
        </Console>

        <!-- 🔥 File with Dynamic Timestamp -->
        <File name="File"
              fileName="Logs/api_execution_${date:yyyyMMdd_HHmmss}.log">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} [%t] %-5level %logger - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>
